script1-html.txt

script2-json.txt

script3-json-init.txt

script4b-add.txt

script4b-entity.txt

documents/D2.txt
documents/D3.txt
documents/D4.txt
documents/D5.1.txt
documents/D5.2.txt
documents/D6.txt
documents/D7.txt
documents/D8.txt

documents/.~lock*

frontend/.eslintcache